.main_chat
  .main-header 
    .main-left-box
      .main-group-name
        test
      .menber-name
        Menber: name
    .main-right-box
      = link_to "#" do
        .edit-btn
          Edit
  .messages
  .form