.main_chat
  .main-header 
    .main-left-box
      .main-group-name
        test
      .menber-name
        Menber: name
    .main-right-box
      = link_to "#" do
        .edit-btn
          Edit
  .messages
    .post-box
      .top-box
        .name-box
          masa
        .post-time-box
          2020/02/21 (Fry) 13:00:00
      .post-text-box
        お昼何食べようかな
    .post-box2
      .top-box
        .name-box
          jojo
        .post-time-box
          2020/02/21 (Fry) 13:00:00
      .post-text-box
        ラーメンでどう？
    .post-box3
      .top-box
        .name-box
          momo
        .post-time-box
          2020/02/21 (Fry) 13:00:00
      .post-text-box
        定食がいい！
  .form
    .form-area
      .type-message
        type a message (仮)
      .send-a-picture
        
    .send-btn
      Send