.main_chat
  .main__header 
    .main__header__LeftBox
      .main__header__LeftBox__GroupName
        test
      .main__header__LeftBox__MemberName
        Member: name
    .main__header__RightBox
      = link_to "#" do
        .main__header__RightBox__EditBtn
          Edit
  .messages
    .post-box
      .top-box
        .name-box
          masa
        .post-time-box
          2020/02/21 (Fry) 13:00:00
      .post-text-box
        お昼何食べようかな
    .post-box2
      .top-box
        .name-box
          jojo
        .post-time-box
          2020/02/21 (Fry) 13:00:00
      .post-text-box
        ラーメンでどう？
    .post-box3
      .top-box
        .name-box
          momo
        .post-time-box
          2020/02/21 (Fry) 13:00:00
      .post-text-box
        定食がいい！
  .form
    %form.new-message
    .input-box
      %input.input-text{:placeholder => "type a message", :type => "text"}/
      %label{class: "input-box__image"}
        = icon('fas', 'image')
        %input{type: "file"}
    %input.submit-btn{:name => "commit", :type => "submit", :value => "Send"}/  
