.side_bar
  .side-header
    .side-header-box
      .user-name-box
        madoka
      .icon-box
        .create-group-box
          = link_to "#" do
            = icon('far', 'edit')
        .edit-user-box
          = link_to "#" do
            = icon('fas', 'cog')
        
  .groups
    .group-box
      .group-name-box
        techcamp
      .group-new-message-box
        まだメッセージがありません
    .group-box2
      .group-name-box2
        セブンイレブン
      .group-new-message-box2
        まだメッセージがありません
    .group-box3
      .group-name-box3
        ファミリーマート
      .group-new-message-box3
        まだメッセージがありません