.side_bar
  .side_bar__header
    .side_bar__header__box
      %p.side_bar__header__box__UserName
        madoka
      %ul.side_bar__header__box__Menu
        %li.side_bar__header__box__Menu__NewGroup
          = link_to "#" do
            = icon('far', 'edit')
        %li.side_bar__header__box__Menu__EditUser
          = link_to "#" do
            = icon('fas', 'cog')
        
  .groups
    .group-box
      .group-name-box
        techcamp
      .group-new-message-box
        まだメッセージがありません
    .group-box2
      .group-name-box2
        セブンイレブン
      .group-new-message-box2
        まだメッセージがありません
    .group-box3
      .group-name-box3
        ファミリーマート
      .group-new-message-box3
        まだメッセージがありません