.side_bar
  .side-header
    .side-header-box
      .user-name-box
        madoka
      .icon-box
        .create-group-box
          = link_to "#" do
            = icon('far', 'edit')
        .edit-user-box
          = link_to "#" do
            = icon('fas', 'cog')
        
      
    
  .groups
    .group-name-box
      techcamp
    .group-new-message-box
      まだメッセージがありません